<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class='form'>
    <form action="javascript:;" onsubmit="sendImage(this)">
      <input name="image" type="file" id="file" class="feedback-input">
      <button type="submit" class="button-send">SEND FILE</button>
    </form>
    </div>
    <div class='colorLevel'></div>
    <div class='thumbnail'></div>
    <form action="javascript:;" onsubmit="downloadImage(this)">
      <button type="submit" class="button-download">DOWNLOAD</button>
    </form>
    <script src='/javascripts/clap.min.js'></script>
    <script src='/javascripts/clap_init.js'></script>
    <script src='/javascripts/clap_socket.js'></script>
  </body>
</html>
